/* Reset CSS (You can use a more comprehensive reset if desired) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #ffc107;
  --text-color: #343a40;
  --background-color: #f8f9fa;
  --dark-mode-bg: #212529;
  --dark-mode-text: #f8f9fa;
  --font-family-base: 'Lora', serif;
  --font-family-headings: 'Helvetica Neue', sans-serif;
}

/* Base styles */
body {
  font-family: var(--font-family-base);
  line-height: 1.6;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }
}

/* Dark mode styles */
[data-theme='dark'] {
  --text-color: var(--dark-mode-text);
  --background-color: var(--dark-mode-bg);
}
